:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
}

* {
    font-family: "Lato";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
}